---

---

<footer>
    <div
        class="gap-4 w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-center dark:text-gray-400"
    >
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
            <a href="https://github.com/rodrigoDev0n" target="_blank" class="hover:underline">
                Created by Rodrigo 
            </a>
        </span>
        <img class="w-8 h-8" src="../../public/github.svg" alt="">
    </div>
</footer>
