<!-- Necesito crear un header con tailwind -->

<header>
    <div
        class="max-w-7xl  mx-auto py-6 px-4 sm:px-6 lg:px-8 flex justify-between items-center"
    >
        <ul class="flex space-x-4">
            <li>
                <a
                    href="/"
                    class="text-white hover:text-gray-300 font-bold hover:underline transition"
                    >Home</a
                >
            </li>
            <li>
                <a
                    href="/about"
                    class="text-white hover:text-gray-300 font-bold hover:underline transition"
                    >About</a
                >
        </ul>
    </div>
</header>